
body {
background-image: url('../assets/star-background.jpg');
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
margin: 0;
padding: 0;
overflow: hidden;
}

main {
  width: 95%;
  height: 650px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  /*background-image: url('assets/star-background.jpg');*/
}

footer {
  margin: 10px auto;
  width: 650px;
  font-size: 15px;
  text-align: center;
  line-height: 100px;
  font-family: 'Death Star', sans-serif;
  height: 100px;
  animation-name: example;
  animation-duration: 4s;
}

.logo {
  width: 60%;
  margin: 30px auto;

}

.logoimage {
  width: 100%;
  margin: 0 auto;
  animation: logo-bounce 2.5s infinite;

}


.banner {
  margin: 0 auto;
  height: 418px;
  width: 430px;
}

.bannerimage {
  margin: 0 auto;
  width: 100%;
}

.landing-pad {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 210px;
  height: 70px;
  z-index: 300;
  background-image: url('../assets/landspeeder.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.timer {
  font-size: 60px;
  font-family: 'Death Star', sans-serif;
  text-align: center;
  line-height: 100px;
  margin: 200px auto;
  height: 100px;
  width: 100px;
  color: #ecdd62;
  -webkit-animation: font-grow 0.5s ease-in-out infinite alternate;
  /*text-shadow: -1px 0 #ecdd62, 0 5px #ecdd62, 5px 0 #ecdd62, 0 -5px #ecdd62;*/
}

li {
  color: #ecdd62;
}

.gameover {
  width: 500px;
  height: 300px;
  text-align: center;
  font-size: 50px;
  margin: 200px auto;
  color: white;
  font-family: 'star jedi hollow';
  color: #ecdd62;
  z-index: 500;
}

.gamefont {
  font-family: 'Death Star', sans-serif;
}


.lives {
  float: right;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  top: 20px;
  padding: 5px;
  background-image: url('../assets/clunelife.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.clunelayer {
  width: 30px;
  padding: 10px;
}

.score {
  float: left;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  top: 20px;
  padding: 5px;
  font-family: 'Death Star';
  font-size: 30px;
  color: #ecdd62;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  z-index:200;
  /*width: 50px;
  height: 50px;*/
}

.play, .instructions {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.play:hover, .instructions:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}


.martins {
  background-image: url('../assets/princess-clunes.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 100px;
  /*background: blue;
  /*background-image: url('../assets/princess-clunes.png');*/
}

.life {
  background-image: url('../assets/yodaclune.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 100px;
}

.widthwide {
  background-image: url('../assets/martinskywalker.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
}

.martianclones {
  width: 80px;
}

.level {
  font-size: 60px;
  font-family: Orbitron, sans-serif;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  color: black;
}

.play {
  height: 100px;
  float: left;
  top: 300px;
  font-size: 40px;
  font-family: 'Death Star', sans-serif;;
  color: #ecdd62;
  letter-spacing: 2px;
}

.starwars {
  /* Flexbox to center the entire element on the screen */
  display: flex;
  justify-content: center;
  /* This is a magic number based on the context in which this snippet is used and effects the perspective */
  height: 800px;
  /* This sets allows us to transform the text on a 3D plane, and is somewhat a magic number */
  perspective: 400px;
  /* The rest is totally up to personal styling preferences */
  color: #ecdd62;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}

.crawl {
  /* Position the element so we can adjust the top property in the animation */
  position: relative;
  /* Making sure the text is fully off the screen at the start and end of the animation */
  top: -100px;
  /* Defines the skew origin at the very center when we apply transforms on the animation */
  transform-origin: 50% 100%;

  animation: crawl 50s linear;
}



.instructions {
  height: 100px;
  top: 300px;
  font-size: 40px;
  float: right;
  font-family: 'Death Star', sans-serif;;
  color: #ecdd62;
  letter-spacing: 2px;
}

 @-webkit-keyframes neon3 {
   from {
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ecdd62, 0 0 35px #ecdd62, 0 0 40px #ecdd62, 0 0 50px #ecdd62, 0 0 75px #ecdd62;
   }
   to {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ecdd62, 0 0 70px #ecdd62, 0 0 80px #ecdd62, 0 0 100px #ecdd62;
   }
 }

 @-webkit-keyframes font-grow {
   from {
     font-size: 60px;
   }
   to {
     font-size: 120px;
   }
 }


 @keyframes logo-bounce {

 0% {transform: translateY(2%);}

 50% {transform: translateY(20%);}

 100% {transform: translateY(2%);}

 }

 @keyframes crawl {
  0% {
    /* The element starts below the screen */
    top: 0;
    /* Rotate the text 20 degrees but keep it close to the viewer */
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
    top: -6000px;
    /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
